p
    strong Student: 
    | #{student}
    br
    strong Korrektor: 
    | #{corrector} 

if error
    p 
        strong Compiler Fehler =&gt; 0 Punkte
        pre !{exception}
        h1 Theoretische Bewertung
else
    h1 Bewertung

table 
    tr
        th Kategorie 
        th Punkte
    each n, i in criteria
        tr 
            td= i
            td= points[Object.keys(criteria).indexOf(i)] + '/' + n + ' P'
    tr
        th 
            strong Summe
        td
            strong= points.reduce((a, b) => a + b) + '/' + Object.values(criteria).reduce((a, b) => a + b) + ' P'

div !{content}